@import "../../../../styles/mixins.scss";

.card-container {
  display: flex;
  @include flex-start();
  margin-top: 50px;
  & > * {
    margin-left: 18px;
  }
}

.overview-card {
  width: 15vw;
  height: 12vw;
  color: white;
}

.text-white-secondary {
  color: hsla(0, 0%, 100%, 0.7);
}

.font-main {
  font-size: 18px;
}
.font-important-stat {
  font-size: 40px;
  font-weight: 700;
}
.font-secondary {
  font-size: 16px;
}

.bg-gray {
  background-color: #f5f5fb;
}

.decoration-none {
  text-decoration: none !important;
}

.bg-gr-purple {
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gr-blue {
  background: #0052d4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #6fb1fc,
    #4364f7,
    #0052d4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #6fb1fc,
    #4364f7,
    #0052d4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gr-green {
  background: #00b09b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #96c93d,
    #00b09b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #96c93d,
    #00b09b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-gr-red {
  background: #ed213a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93291e,
    #ed213a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.post-card {
  box-shadow: none;
}
.post-card:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
