@import "../../../styles/mixins.scss";
.container {
  height: 100vh;
  @include flex-center();
}
h1 {
  @include flex-start();
  width: 100%;
  span {
    flex: 1;
    padding-left: 20px;
  }
}

form {
  @include flex-center(column);
  position: relative;
}

.mat-form-field {
  width: 100%;
}

.return-button {
  //   position: absolute;
  //   flex: 1;
}
