@import "../../../../../styles/mixins.scss";

.table-container {
  margin-top: 100px;
  width: 100%;
  @include flex-center(column);
}
.restaurant-table {
  width: 90%;
  // position: relative;
}
.mat-column-name {
  padding-left: 16px;
  font-weight: bolder;
  // font-size: 20px;
}

.mat-column-chef {
  width: 32px;
  //   border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-isPopular {
  font-style: italic;
}

.mat-row {
  width: 100%;
}
.button-container {
  padding: 2px;
  border-radius: 50%;
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
}
.mat-column-actions {
  justify-content: end;
  flex-direction: column;

  @include md() {
    flex-direction: row;
  }
}
.mat-footer-row .mat-footer-cell {
  // @include flex-center();
  width: 100%;
}

.mat-paginator {
  width: 90%;
}
