/* You can add global styles to this file, and also import other style files */
@import "./styles/mixins.scss";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center-col {
  @include flex-center(column);
}
.center-space {
  @include flex-around();
}
.center-space-col {
  @include flex-around(column);
}

.hide {
  display: none;
  background: red;
}
