/* You can add global styles to this file, and also import other style files */
@import "./styles/mixins.scss";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center-col {
  @include flex-center(column);
}
.center-space {
  @include flex-around();
}
.center-space-col {
  @include flex-around(column);
}

.hide {
  display: none;
}

.table-toolbar {
  @include flex-center();
  width: 90%;
  position: relative;
  //   .mat-button {
  //     margin-top: 10px;
  //     background-color: #fff;
  //   }
}

.title-bar {
  @include flex-center();
  .mat-button {
  }
}

.page-title {
  font-size: 40px;
  //   @include flex-center();
}

.search-div {
  //   margin: 10px;
  margin-bottom: 20px;
  width: 60%;

  @include flex-center();
}
.search-form-field {
  width: 100%;
  //   margin-left: 10px;
  margin-top: 15px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}
.search-form-field div.mat-form-field-underline {
  display: none;
}
.search-form-field div.mat-form-field-infix {
  border-top: 0px;
}
.search-form-field div.mat-form-field-wrapper {
  padding-bottom: 0px;
}
.search-form-field div.mat-form-field-suffix button {
  height: 32px;
  width: 32px;
}

.image-editor-container {
  position: relative;
  width: 100%;
  @include flex-center(column);

  & .image {
    width: 97%;
    min-height: 100px;
    height: auto;
  }
}

.image-file-uploader-container {
  position: absolute;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  top: 0;
}

.image-file-uploader-container mat-form-field.mat-form-field {
  background-color: aquamarine;
  width: 100px;
  text-align: center;
}
