@import "../../../../../styles/mixins.scss";
.page-container {
  margin-top: 100px;
  width: 100%;
  @include flex-center(column);
  margin-bottom: 60px;
  // @include md() {
  //   @include flex-center();
  // }
}

.weekly-chef-title {
  font-size: 22px;
  font-family: HelveticaNeue-Thin, Helvetica, sans-serif;

  @include md() {
    font-size: 30px;
  }
}

.weekly-chef-container {
  // margin-top: 30px;
  margin-bottom: 30px;
  width: 40%;
}
.weekly-chef-card {
  min-height: 7vh;
}
.avatar-container {
  width: 100%;

  @include flex-center();
  .avatar {
    border-radius: 50%;
    width: max(100px, 10vw);
    height: max(100px, 10vw);
    object-fit: cover;
    object-position: center;
  }
  padding-top: 10px;
  padding-bottom: 10px;
}

.weekly-chef-select {
  width: 100%;
}
.chef-table {
  width: 90%;
}
.mat-column-name {
  padding-left: 16px;
  font-weight: bolder;
  // font-size: 20px;
}
.table-container {
  margin-bottom: 30px;
  @include flex-center("column");
}
.mat-column-actions {
  justify-content: end;
  flex-direction: column;

  @include md() {
    flex-direction: row;
  }
}

// .mat-column-isWeekly {
//   width: 32px;
//   //   border-right: 1px solid currentColor;
//   padding-right: 24px;
//   text-align: center;
// }

.mat-column-descr {
  //   font-style: italic;
  padding-top: 15px;
  padding-bottom: 15px;
}

.mat-row {
  width: 100%;
}
.mat-footer-row .mat-footer-cell {
  // @include flex-center();
  width: 100%;
}

.mat-paginator {
  width: 90%;
}
